
.q-box {
  display: none;
  width: 100%;
  text-align: center;
  height: 100vh;
  padding: 10%;
  box-sizing: border-box;
  .inbox{
    margin: 0 auto;
    text-align: center;

  }
  .q_img{
    width:100%;
  }
  .inputBox{
    font-size: 1rem;
    padding: 5px;
    color: #333333;
    display: inline-block;
    max-width: 320px;
  }
  .submitBtn{
    display: block;
    text-align: center;
    margin-top: 20px;
    input{
      background-color: transparent;
      border: 1px solid #ffffff;
      color: #ffffff;
      padding: 5px  10px;
      margin: 0 auto;
      opacity: 0.8;
      cursor: pointer;
      &:hover{
        opacity: 1;
      }
    }
  }
}
.show {
  display: block;
}