$icomoon-font-family: "icomoon" !default;

$icon-air: "\e900";
$icon-bag: "\e901";
$icon-bed: "\e902";
$icon-car: "\e903";
$icon-cross: "\e904";
$icon-down: "\e905";
$icon-eat: "\e906";
$icon-map: "\e907";
$icon-menu: "\e908";
$icon-money: "\e909";
$icon-more: "\e90a";
$icon-next: "\e90b";
$icon-prev: "\e90c";
$icon-star: "\e90d";
$icon-time: "\e90e";
$icon-view: "\e90f";

