<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta content="" property="og:image">
  <title>DAY3</title>
  <link rel="stylesheet" type="text/css" media="screen" href="../../bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
  <script src="../../js/jquery-3.1.1.min.js"></script>
  <script src="../../bootstrap/bootstrap.min.js"></script>
  <script src="../js/vue.js"></script>
  <script src="../js/main.js"></script>
</head>

<body class="page-body">

  <div class="main-banner">
    <div class="day"><img src="../image/day.svg" alt=""> <span>3</span></div>
    <div class="title">嵐山</div>
  </div>

  <div id="day-1" class="content-block">
    <div class="item" v-for="item in items">
      <div class="time">{{item.time}}</div>
      <div class="item-content">
        <div class="title">{{item.title}}</div>
        <div class="note" v-for="note in item.notes">
          <div>{{note.note}}</div>
        </div>
        <div class="money" v-show="item.money"><span class="icon icon-money"></span>{{item.money}}</div>
        <div class="link" v-for="link in item.links">
          <a v-bind:href="link.url"><span class="icon icon-more"></span>{{link.name}}</a>
        </div>
      </div>
      <div class="link-btns">
        <a v-show="item.map" v-bind:href="item.map" class="item-btn">
          <span class="icon-map"></span>
        </a>
        <div v-show="item.more" v-bind:data-target="item.more" data-toggle="modal" class="item-btn">
          <span class="icon-star"></span>
        </div>
        <div v-show="item.car" v-bind:data-target="item.car" data-toggle="modal" class="item-btn">
          <span class="icon-car"></span>
        </div>
        <modal></modal>
      </div>
    </div>
  </div>
  <footer id="footer" class="footer">
    <div class="menu" data-target="#menuModal" data-toggle="modal">
      <i class="icon-menu"></i>
    </div>
    <div class="menu-direction" id="directionUrl">
    </div>
  </footer>
  <div id="menuBlock"></div>

  <div id="com_modal">
    <div v-for="modal in modals" class="modal fade com_modal" v-bind:id="modal.id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">{{modal.title}}</h4>
          </div>
          <div class="modal-body">
            <ul v-for="list in modal.lists">
              <li>{{list.list}}</li>
            </ul>
            <div class="modal-img" v-for="img in modal.imgs">
              <img :src="img.img">
              <p>{{img.text}}</p> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
<script>
  var app4 = new Vue({
    el: '#day-1',
    data: {
      items: [
        {
          time: '09:00',
          title: '走到北浜搭車',
          notes: [{
            note: '記得帶車票'
          }],
          map: 'https://www.google.com.tw/maps/place/%E5%8C%97%E6%BF%B1%EF%BC%88%E5%A4%A7%E9%98%AA%EF%BC%89/@34.6899551,135.5056778,17z/data=!4m22!1m16!4m15!1m6!1m2!1s0x6000e6ddfa27566f:0x25dea66981d2c506!2z5YyX5rWc!2m2!1d135.5065989!2d34.6905957!1m6!1m2!1s0x6000e6e0c81c8315:0x561a109305acde9a!2zMiBDaG9tZS00IEvFjXJhaWJhc2hpLCBDaMWrxY0ta3UsIMWMc2FrYS1zaGksIMWMc2FrYS1mdSA1NDEtMDA0M-aXpeacrA!2m2!1d135.5049899!2d34.6899438!3e2!3m4!1s0x6000e6ddfa27566f:0x25dea66981d2c506!8m2!3d34.6905957!4d135.5065989?hl=zh-TW'
        },
        {
          time: '09:00',
          title: '北浜 → 嵐山阪急線',
          notes: [
            {
            note: '50分鐘，換兩次'
            }
          ],
          car: '#arashiyama'
        },
        {
          time: '09:50',
          title: '嵐山公園',
          notes: [
            {note: '隨便走'},
            {note: '吃團子、四色冰淇淋'}
          ],
          map: 'https://www.google.com.tw/maps/place/%E5%B5%90%E5%B1%B1%E5%85%AC%E5%9C%92+%E9%BE%9C%E5%B1%B1%E5%9C%B0%E5%8D%80/@35.0131229,135.6760058,16.25z/data=!4m13!1m7!3m6!1s0x6001a9fe1326eaeb:0x7fd87c2b1bc563b0!2zMjAgU2FnYXRlbnJ5xatqaSBSecWrbW9uY2jFjSwgVWt5xY0ta3UsIEt5xY10by1zaGksIEt5xY10by1mdSA2MTYtODM4MeaXpeacrA!3b1!8m2!3d35.0163598!4d135.680306!3m4!1s0x6001aa012f75aa37:0xf4cc56780475d22b!8m2!3d35.0142735!4d135.6717485!5m1!1e2?hl=zh-TW'
        },
        {
          time: '10:30',
          title: '常寂光寺',
          notes: [
            {
            note: '楓葉'
            }
          ],
          map: 'https://www.google.com.tw/maps/place/%E5%B8%B8%E5%AF%82%E5%85%89%E5%AF%BA/@35.0152097,135.6707228,16z/data=!4m22!1m16!4m15!1m6!1m2!1s0x6001aa012f75aa37:0xf4cc56780475d22b!2z5bWQ5bGx5YWs5ZySIOS6gOWxseWcsOWMug!2m2!1d135.6717478!2d35.0142738!1m6!1m2!1s0x60010751678b6c0d:0x59dca24d07f3db74!2z5bWQ5bGx77yI6Ziq5oCl77yJIEFyYXNoaXlhbWEgSGlnYXNoaWljaGlrYXdhY2jFjSwgTmlzaGlrecWNLWt1LCBLecWNdG8tc2hpLCBLecWNdG8tZnUgNjE2LTAwMDLml6XmnKw!2m2!1d135.6816099!2d35.0103668!3e2!3m4!1s0x6001aa1adb520f1f:0x3e37b5db82dfefa8!8m2!3d35.0196488!4d135.668672!5m1!1e2?hl=zh-TW'
        },
        {
          time: '11:00',
          title: '竹林小徑',
          notes: [
            {
            note: '看竹子'
            }
          ],
          map: 'https://www.google.com.tw/maps/place/%E5%B5%90%E5%B1%B1%E7%AB%B9%E6%9E%97%E5%B0%8F%E5%BE%91/@35.0152097,135.6707228,16z/data=!4m22!1m16!4m15!1m6!1m2!1s0x6001aa012f75aa37:0xf4cc56780475d22b!2z5bWQ5bGx5YWs5ZySIOS6gOWxseWcsOWMug!2m2!1d135.6717478!2d35.0142738!1m6!1m2!1s0x60010751678b6c0d:0x59dca24d07f3db74!2z5bWQ5bGx77yI6Ziq5oCl77yJIEFyYXNoaXlhbWEgSGlnYXNoaWljaGlrYXdhY2jFjSwgTmlzaGlrecWNLWt1LCBLecWNdG8tc2hpLCBLecWNdG8tZnUgNjE2LTAwMDLml6XmnKw!2m2!1d135.6816099!2d35.0103668!3e2!3m4!1s0x6001aa0441c13f5d:0x730f3010cd1d4996!8m2!3d35.0171798!4d135.6719778!5m1!1e2?hl=zh-TW'
        },
        {
          time: '11:20',
          title: '宝厳院',
          notes: [
            {
            note: '看楓葉'
            }
          ],
          money: '500円',
          map: 'https://www.google.com.tw/maps/place/%E5%AF%B6%E5%9A%B4%E9%99%A2/@35.0152097,135.6707228,16z/data=!4m22!1m16!4m15!1m6!1m2!1s0x6001aa012f75aa37:0xf4cc56780475d22b!2z5bWQ5bGx5YWs5ZySIOS6gOWxseWcsOWMug!2m2!1d135.6717478!2d35.0142738!1m6!1m2!1s0x60010751678b6c0d:0x59dca24d07f3db74!2z5bWQ5bGx77yI6Ziq5oCl77yJIEFyYXNoaXlhbWEgSGlnYXNoaWljaGlrYXdhY2jFjSwgTmlzaGlrecWNLWt1LCBLecWNdG8tc2hpLCBLecWNdG8tZnUgNjE2LTAwMDLml6XmnKw!2m2!1d135.6816099!2d35.0103668!3e2!3m4!1s0x6001aa0106ac1889:0x2a13c665df8c5130!8m2!3d35.0147876!4d135.6737065!5m1!1e2?hl=zh-TW'
        },
        {
          time: '12:00',
          title: '中村屋総本店',
          notes: [
            {
            note: '09:00～18:30'
            }
          ],
          money: '80円',
          map: 'https://www.google.com.tw/maps/place/20+Sagatenry%C5%ABji+Ry%C5%ABmonch%C5%8D,+Uky%C5%8D-ku,+Ky%C5%8Dto-shi,+Ky%C5%8Dto-fu+616-8381%E6%97%A5%E6%9C%AC/@35.0138116,135.678761,17z/data=!4m5!3m4!1s0x6001a9fe1326eaeb:0x7fd87c2b1bc563b0!8m2!3d35.0163598!4d135.680306!5m1!1e2?hl=zh-TW'
        },
        {
          time: '12:20',
          title: '嵐電嵯峨',
          notes: [
            {
            note: '去錦市場'
            }
          ],
          map: 'https://www.google.com.tw/maps/place/%E5%B5%90%E9%9B%BB%E5%B5%AF%E5%B3%A8/@35.0159095,135.6815215,18.25z/data=!4m22!1m16!4m15!1m6!1m2!1s0x6001aa0106ac1889:0x2a13c665df8c5130!2z5a-25Zq06ZmiIOiKkuODjummrOWgtOeUui0zNiDlta_ls6jlpKnpvo3lr7ogVWt5xY0ta3UsIEt5xY10by1zaGksIEt5xY10by1mdSA2MTYtODM4NeaXpeacrA!2m2!1d135.673706!2d35.014788!1m6!1m2!1s0x6001a9fe6dcb50b9:0xb65c33e4344f7ac4!2z5Lit5p2R5bGLIOWPr-aogumkhSDml6XmnKzjgJI2MTYtODM4MSBLeW90bywgVWt5xY0ta3UsIFNhZ2F0ZW5yeXVqaSBSeXVtb25jaG8sIDIw!2m2!1d135.6802947!2d35.0164411!3e2!3m4!1s0x6001a9fde381f8cd:0x176d42ea812b71b6!8m2!3d35.0164642!4d135.6813797!5m1!1e2?hl=zh-TW'
        },
        {
          time: '13:00',
          title: '嵐電嵯峨 → 烏丸',
          notes: [
            {
            note: '去錦市場'
            }
          ],
          car: '#Karasuma'
        },
        {
          time: '13:20',
          title: '去錦市場',
          notes: [
            {
            note: '吃'
            }
          ],
          map: 'https://www.google.com.tw/maps/place/%E9%8C%A6%E5%B8%82%E5%A0%B4/@35.0043106,135.7608885,17.75z/data=!4m22!1m16!4m15!1m6!1m2!1s0x6001089bb563b117:0x3b97f6a22337fdaa!2z54OP5Li4IE5hZ2luYXRhYm9rb2NoxY0sIFNoaW1vZ3nFjS1rdSwgS3nFjXRvLXNoaSwgS3nFjXRvLWZ1IDYwMC04MDA45pel5pys!2m2!1d135.7605895!2d35.0036744!1m6!1m2!1s0x6001089ccd8ccb4f:0xb69ea31001ec6c9c!2z6Yym5biC5aC0LCDml6XmnKzjgJI2MDQtODA1NCBLeW90byBQcmVmZWN0dXJlLCBLeW90bywgTmFrYWd5byBXYXJkLCDlr4zlsI_ot6_pgJrlm5vmnaHkuIrjgovopb_lpKfmloflrZfnlLo2MDnnlarlnLA!2m2!1d135.7649016!2d35.005008!3e2!3m4!1s0x6001089ccd8ccb4f:0xb69ea31001ec6c9c!8m2!3d35.005008!4d135.7649016!5m1!1e2?hl=zh-TW'
        },
        {
          time: '16:00',
          title: '大宮Omiya → 日本橋Nihombashi',
          map: 'https://www.google.com.tw/maps/place/%E5%A4%A7%E5%AE%AE%EF%BC%88%E4%BA%AC%E9%83%BD%EF%BC%89/@35.0030543,135.7475244,18.5z/data=!4m8!1m2!2m1!1suniqlo!3m4!1s0x60010628ebc17d9d:0x899527ed94db1c2e!8m2!3d35.0036048!4d135.7487655!5m1!1e2?hl=zh-TW',
          car :'#omiya'
        },
        {
          time: '17:08',
          title: '業務超市 - 業務スーパー',
          notes: [
            {note: '〒542-0073 大阪府大阪市中央区日本橋２丁目１−９'},
            {note: '抹茶酒'}
          ],
          map: 'https://www.google.com.tw/maps/place/%E6%A5%AD%E5%8B%99%E3%82%B9%E3%83%BC%E3%83%91%E3%83%BC/@34.6664179,135.5057415,17.25z/data=!4m5!3m4!1s0x6000e742335a8bc3:0xfdd5153c54e64ce3!8m2!3d34.664556!4d135.5086555?hl=zh-TW'
        },
        {
          time: '21:00',
          title: '日本橋 Nihombashi → 北浜 Kitahama',
          notes: [
           
          ],
          car: '#Nihombashi'
        },
        {
          time: '21:05',
          title: '北浜 → 飯店',
          notes: [
            { note: '中途去買隔天早餐' }
          ],
          map: 'https://www.google.com.tw/maps/place/2+Chome-4+K%C5%8Draibashi,+Ch%C5%AB%C5%8D-ku,+%C5%8Csaka-shi,+%C5%8Csaka-fu+541-0043%E6%97%A5%E6%9C%AC/@34.6902492,135.503275,17.25z/data=!4m5!3m4!1s0x6000e6e0c81c8315:0x561a109305acde9a!8m2!3d34.6899438!4d135.5049899?hl=zh-TW&authuser=0'
        },
      ]
    }
  });
  var Modal = new Vue({
    el: '#com_modal',
    data: {
      modals: [
        {
          id: 'arashiyama',
          title: '北浜 → 嵐山阪急線',
          imgs: [
            { img: '../image/car/arashiyama.jpg' }
          ]
        },
        {
          id: 'Nihombashi',
          title: '日本橋 → 北浜',
          imgs: [
            { img: '../image/car/Nihombashi.jpg' }
          ]
        },
        {
          id: 'Karasuma',
          title: '嵐電嵯峨 → 烏丸',
          imgs: [
            { img: '../image/car/Karasuma.jpg' }
          ]
        },
        {
          id: 'omiya',
          title: '大宮 → 日本橋',
          imgs: [
            { img: '../image/car/omiya.jpg' }
          ]
        }
      ]
    }
  });
</script>

</html>