<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta content="" property="og:image">
  <title>DAY4</title>
  <link rel="stylesheet" type="text/css" media="screen" href="../../bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
  <script src="../../js/jquery-3.1.1.min.js"></script>
  <script src="../../bootstrap/bootstrap.min.js"></script>
  <script src="../js/vue.js"></script>
  <script src="../js/main.js"></script>
</head>

<body class="page-body">

  <div class="main-banner">
    <div class="day"><img src="../image/day.svg" alt=""> <span>4</span></div>
    <div class="title">大阪</div>
  </div>

  <div id="day-1" class="content-block">
    <div class="item" v-for="item in items">
      <div class="time">{{item.time}}</div>
      <div class="item-content">
        <div class="title">{{item.title}}</div>
        <div class="note" v-for="note in item.notes">
          <div>{{note.note}}</div>
        </div>
        <div class="money" v-show="item.money"><span class="icon icon-money"></span>{{item.money}}</div>
        <div class="link" v-for="link in item.links">
          <a v-bind:href="link.url"><span class="icon icon-more"></span>{{link.name}}</a>
        </div>
      </div>
      <div class="link-btns">
        <a v-show="item.map" v-bind:href="item.map" class="item-btn">
          <span class="icon-map"></span>
        </a>
        <div v-show="item.more" v-bind:data-target="item.more" data-toggle="modal" class="item-btn">
          <span class="icon-star"></span>
        </div>
        <div v-show="item.car" v-bind:data-target="item.car" data-toggle="modal" class="item-btn">
          <span class="icon-car"></span>
        </div>
        <modal></modal>
      </div>
    </div>
  </div>
  <footer id="footer" class="footer">
    <div class="menu" data-target="#menuModal" data-toggle="modal">
      <i class="icon-menu"></i>
    </div>
    <div class="menu-direction" id="directionUrl">
    </div>
  </footer>
  <div id="menuBlock"></div>

  <div id="com_modal">
    <div v-for="modal in modals" class="modal fade com_modal" v-bind:id="modal.id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">{{modal.title}}</h4>
          </div>
          <div class="modal-body">
            <ul v-for="list in modal.lists">
              <li>{{list.list}}</li>
            </ul>
            <div class="modal-img" v-for="img in modal.imgs">
              <img :src="img.img">
              <p>{{img.text}}</p> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
<script>
  var app4 = new Vue({
    el: '#day-1',
    data: {
      items: [
        {
          time: '08:50',
          title: '先換宿寄放行李',
          notes: [
            {note: 'ホテルｗｂｆ北船場ｗｅｓｔ'},
            {note: '541-0047 大阪市中央区淡路町３－２－７'}
          ],
          map: 'https://www.google.com/maps/place/3+Chome-2-7+Awajimachi,+Ch%C5%AB%C5%8D-ku,+%C5%8Csaka-shi,+%C5%8Csaka-fu+541-0047%E6%97%A5%E6%9C%AC/@34.6863436,135.5015118,16.75z/data=!4m5!3m4!1s0x6000e6e1a31a9fb3:0xf8eafcae6330e880!8m2!3d34.6867885!4d135.5029791'
        },
        {
          time: '09:20',
          title: '堺筋本町Sakaisuji-hommachi  → 大阪ビジネスパーク駅',
          notes: [
            {note: '記得帶車票'}
          ],
          map: 'https://www.google.com.tw/maps/place/%E5%A0%BA%E7%AD%8B%E6%9C%AC%E7%94%BA/@34.6818255,135.5050819,17z/data=!3m1!4b1!4m5!3m4!1s0x6000e721e2ce27fd:0xc5ca277fad75feb9!8m2!3d34.6818255!4d135.5069763?hl=zh-TW&authuser=0',
          car: '#hommachi'
        },
        {
          time: '09:33',
          title: '大阪城',
          map: 'https://www.google.com/maps/place/%E5%A4%A7%E9%98%AA%E5%9F%8E/@34.6893933,135.5276945,16.54z/data=!4m5!3m4!1s0x6000e0cd5c283afd:0xf01d07d5ca11e41!8m2!3d34.6873331!4d135.5259557'
        },
        {
          time: '11:00',
          title: '大阪ビジネスパーク駅Osaka Business Park → 日本橋',
          car: '#Osak'
        },
        {
          time: '11:30',
          title: '天婦羅 えびのや - 明太子吃到飽',
          links: [
            {name: '食記',
             url: 'https://boo2k.com/archives/55345',
            },
          ],
          money: '1000円',
          map: 'https://www.google.com/maps/place/%E5%A4%A9%E5%A9%A6%E7%BE%85+%E3%81%88%E3%81%B3%E3%81%AE%E3%82%84/@34.6661808,135.5040655,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x9980b54bd93b8bdd!8m2!3d34.6661808!4d135.5062542'
        },
        {
          time: '12:30',
          title: 'K-BOOKS',
          links: [
            {name: '官網',
             url: 'http://www.k-books.co.jp/company/shop/namba-1.html',
            },
          ],
          map: 'https://www.google.com/maps/place/%E6%97%A5%E6%9C%AC%E3%80%92556-0005+%C5%8Csaka-fu,+%C5%8Csaka-shi,+Naniwa-ku,+Nipponbashi,+4+Chome%E2%88%9210%E2%88%924+%E5%A4%AA%E5%B9%B3%E3%83%93%E3%83%AB%EF%BC%91%E5%8F%B7%E9%A4%A8/@34.6610319,135.5034321,17z/data=!3m1!4b1!4m5!3m4!1s0x6000e7683b05bbdf:0x1f2349a7334527bc!8m2!3d34.6610319!4d135.5056208'
        },
        {
          time: '13:30',
          title: 'Animate 安利美特',
          links: [
            {name: '官網',
             url: 'https://www.animate.co.jp/shop/nipponbashi/',
            },
          ],
          map: 'https://www.google.com/maps/place/Animate+Osaka+Nippombashi/@34.660476,135.502543,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x681f0654b2c7a730!8m2!3d34.660476!4d135.5047317'
        },
        {
          time: '15:30',
          title: '唐吉軻德 御堂筋店',
          links: [
            {name: '官網',
             url: 'http://www.donki.com/store/shop_detail.php?shop_id=373',
            },
          ],
          map: 'https://www.google.com/maps/place/%E5%94%90%E5%90%89%E8%A8%B6%E5%BE%B7%E9%81%93%E9%A0%93%E5%A0%80%E5%BE%A1%E5%A0%82%E7%AD%8B%E5%BA%97/@34.6689275,135.4973291,16z/data=!4m5!3m4!1s0x0:0xa6c7d55c403feb!8m2!3d34.669254!4d135.499904'
        },
        {
          time: '16:30',
          title: 'まんだらけ MANDARAKE',
          links: [
            {name: '遊記',
             url: 'http://blingfairy.pixnet.net/blog/post/44963831-%E2%95%91%E6%97%A5%E6%9C%AC%E2%95%91%E4%BA%8C%E6%89%8B%E7%8E%A9%E5%85%B7%E5%A4%A9%E5%A0%82-%E3%81%BE%E3%82%93%E3%81%A0%E3%82%89%E3%81%91-(%E5%A4%A7%E9%98%AA%E5%88%86%E5%BA%97',
            },
          ],
          map: 'https://www.google.com.tw/maps/place/Mandarake%E7%8E%A9%E5%85%B7%E5%BA%97/@34.6705291,135.4982217,15z/data=!4m5!3m4!1s0x0:0x1164a36a2066e683!8m2!3d34.6705291!4d135.49822174'
        },
        {
          time: '18:00',
          title: '大起水產',
          links: [
            {name: '食記',
             url: 'https://auntie.tw/2016-01-26-487/',
            },
          ],
          map: 'https://www.google.com.tw/maps/place/1+Chome-7-24+D%C5%8Dtonbori,+Ch%C5%AB%C5%8D-ku,+%C5%8Csaka-shi,+%C5%8Csaka-fu+542-0071%E6%97%A5%E6%9C%AC/@34.6685544,135.5006993,17z/data=!3m1!4b1!4m5!3m4!1s0x6000e714ec9fce6d:0x5efdf83128e0f095!8m2!3d34.6685544!4d135.502888?hl=zh-TW'
        },
        {
          time: '19:00',
          title: '明太子麵包',
          links: [
            {name: '食記',
             url: 'https://boo2k.com/archives/55769',
            },
          ],
          map: 'https://www.google.com.tw/maps/place/Le+Croissant+Shinsaibashi/@34.6710312,135.5011651,21z/data=!4m12!1m6!3m5!1s0x0:0x5403496886ab06d7!2sLe+Croissant+Shinsaibashi!8m2!3d34.6710221!4d135.5010216!3m4!1s0x0:0x5403496886ab06d7!8m2!3d34.6710221!4d135.5010216'
        },
        {
          time: '19:30',
          title: 'HARBS ハーブス 大丸心斎橋店',
          notes: [
            {note: '19:30前要買,在3樓'}
          ],
          links: [
            {name: '食記',
             url: 'https://boo2k.com/archives/55465',
            },
          ],
          money: '1000円',
          map: 'https://www.google.com.tw/maps/place/HARBS+%E3%83%8F%E3%83%BC%E3%83%96%E3%82%B9+%E5%A4%A7%E4%B8%B8%E5%BF%83%E6%96%8E%E6%A9%8B%E5%BA%97/@34.6740389,135.500691,15z/data=!4m5!3m4!1s0x0:0xfd5bb5355f40afb5!8m2!3d34.6740389!4d135.500691'
        },
      ]
    }
  });
  var Modal = new Vue({
    el: '#com_modal',
    data: {
      modals: [{

      }]
    }
  });
</script>

</html>